.overlay {
  /*　画面全体を覆う設定　*/
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #9a93a359;
  backdrop-filter: blur(40px);

  /*　画面の中央に要素を表示させる設定　*/
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  display: grid;
  z-index: 2;
  width: 91.6vw;
  height: 47.8vh;
  background: #343039;
  overflow-y: scroll;
  position: fixed;
  top: 9.29%;
  left: auto;
  border-radius: 1.51% 1.51% 1.51% 1.51% /1.34% 1.34% 1.34% 1.34%;
  align-items: center;
  justify-content: center;
}

.toggle-button-001 {
  position: relative;
  width: 16.6vw;
  height: 4.48vh;
  border-radius: 29.1% 29.1% 29.1% 29.1%/50% 50% 50% 50%;
  background-color: #9a93a3;
  cursor: pointer;
  transition: background-color 0.4s;
  float: right;
}

.toggle-button-001:has(:checked) {
  background-color: #346bff;
}

.toggle-button-001::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 8.33vw;
  height: 3.84vh;
  border-radius: 50%;
  background-color: #fff;
  content: "";
  transition: left 0.4s;
  margin-left: 0.69vw;
  margin-right: 6.06vw;
  margin-top: 0.32vh;
}

.toggle-button-001:has(:checked)::after {
  left: 41.6%;
}

.toggle-button-001 input {
  display: none;
}

.TitleText {
  margin-top: 2.56vh;
  font-family: "Noto Sans JP Bold";
  font-weight: normal;
  font-size: 5.55vw;
  margin-bottom: 0;
  color: #ffffff;
}

.MenuText1 {
  margin-top: 5.64vh;
  margin-left: 5.55vw;
  margin-right: 5.55vw;
  margin-bottom: 0;
  height: 4.48vh;
  font-family: "Noto Sans JP Regular";
  font-weight: normal;
  font-size: 2.24vh;
  line-height: 4.48vh;
  text-align: left;
  color: #ffffff;
}
.MenuText2 {
  margin-top: 2.56vh;
  margin-left: 5.55vw;
  margin-right: 5.55vw;
  margin-bottom: 0;
  height: 4.48vh;
  font-family: "Noto Sans JP Regular";
  font-weight: normal;
  font-size: 2.24vh;
  line-height: 4.48vh;
  text-align: left;
  color: #ffffff;
}
.Ver {
  margin-top: 5.12vh;
  margin-bottom: 0;
  font-family: "Open Sans Regular";
  font-weight: normal;
  font-size: 2.24vh;
  height: 3.07vh;
  color: #ffffff;
}
